body {
    background-image: url(logofon.jpg);
    background-repeat: repeat;
    background-size: 100%;
    margin:0;
}
.header-row {
    display: flex;
    flex-direction: row;
    background: rgb(248, 240, 240);
    border-bottom: 2px solid black;
}
.logo-img {
    width: 10%;
}
.header-logo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.header-menu{
    flex-grow: 1;
    height: 70px;
    


    
}
.menu {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   padding: 20px;
   color: rgb(248, 240, 240);
   

}
.menu-link {
color: gray;
font-size: 25px;
background-color: none;
font-weight: bold;
font-family: coolsvolle;
text-decoration: none;




}
.cards-section {
    padding: 50px 0;
}

.cards-title, .cards-description {
    color: black;
    text-align: center;
}
.card {
    padding: 25px;
    margin-top: 25px;
    width: 20%;
    background: white;
    box-shadow: 0px 2px 7px 0px rgb(102, 23, 69);
    text-align: center;
    
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    color: white;


}
.card-button {
    background-color: rgb(7, 0, 4);
    text-align: center;
    padding: 10px 70px;
    border-radius: 10px;
    margin-top: 10px;

}

.card-title, .card-description {
    margin-top: 10px;
}



.card-button:hover {
    background: gray;
}

.card-img {
    width: 70%;
}
footer {
  background: rgb(148, 148, 148);
  padding: 20px;
  margin-top: 30px;
  border-top: 4px solid 
    
}
.footer-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon {
    margin-right: 2px;
    width: 3%;
   flex-direction: row;
   justify-content: space-between;
  
   
  
}
.copyright {
    color: black;
}

